div{
    width: 500px;
    height: 270px;
    border: 1px solid black;
    margin: 0px auto;
    box-shadow: 5px 5px 10px gray;
}
h1{
    color: green;
    text-align: center;
}
.monhoc{
    text-decoration: underline;
    font-weight: bold;
    
}
.pra{
    font-style: italic;
}
.congthuc{
    color: red;
}
.code{
    background:#CCCCCC;
}
table{
    background-color: #CCCCCC;
    width: 480px;
    margin: 20px auto;
    text-align: center;
    color: #0000CC;
    line-height: 150%;
    font-family:'Courier New', Courier, monospace;
}
